$green: #00B2A9;
$greenBlue: #009AA6;
$blue: #0075B0;

// No corporative
$white: #FFFFFF;
$grayBackgroundInput: #e4f4f9b2;
$grayBorderText: #a4acb4;

// $grayBackgroundInput: #f7f9fa;
// $grayBorderText: #c5ced6;