@use '../../common/styles/colors' as colors;
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    font-family: "Montserrat";
}

.container {
    display: flex;
    margin-bottom: 5rem;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
}

.entryVertical {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.entryHorizontal {
    display: flex;
    gap: 0.5rem;
}

.companyName {
    font-size: 1.75em;
    font-weight: 700;
}

.title {
    font-size: 1em;
    font-weight: 600;
}

.inputText {
    padding: 0.5em;
    text-align: left;
    height: 2.75rem;
    width: 65%;
    font-weight: 600;
    border: 2px solid colors.$grayBorderText;
    border-radius: 0.4rem;
    color: colors.$grayBorderText;
    outline: none;
    background-color: colors.$grayBackgroundInput;
}

.inputText[type="date"] {
    position: relative;
}

.inputText[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    background: transparent;
    cursor: pointer;
}

.textArea {
    padding: 0.5em;
    text-align: left;
    width: 100%;
    height: 7.5rem;
    font-weight: 400;
    border: none;
    border: 2px solid colors.$grayBorderText;
    border-radius: 0.4rem;
    color: colors.$grayBorderText;
    outline: none;
    background-color: colors.$grayBackgroundInput;
}

.button {
    padding: 1em;
    border-radius: 6%;
    cursor: pointer;
    color: colors.$white;
    background-color: colors.$blue;
}

.button--blue {
    background-color: colors.$blue;
}

.button--green {
    background-color: colors.$green;
}

.checkbox {
    transform: scale(1.5);
    accent-color: colors.$blue;
    cursor: pointer;
}




.toggleSwitch {
    position: relative;
    display: inline-block;
    width: 3.5rem;
    height: 2rem;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: colors.$green; // color apagado
        transition: 0.4s;
        border-radius: 2rem;

        &::before {
            position: absolute;
            content: "";
            height: 1.4rem;
            width: 1.4rem;
            left: 0.3rem;
            bottom: 0.3rem;
            background-color: white;
            transition: 0.4s;
            border-radius: 50%;
        }
    }

    input:checked+.slider {
        background-color: colors.$green; // color encendido
    }

    input:checked+.slider::before {
        transform: translateX(1.5rem);
    }
}